<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Shopping Cart</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-inverse" style="background:#04B745;">
    <div class="container-fluid">

    </div>
  </nav>

  <h1 class="center">Tack för ditt köp! </h1>
  <img src="/Untitled.png">





<style>
    .center {
        text-align: center;
    }
    .margin {
        margin-bottom: 12px;
    }
</style>
</body>
</html>