<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
<style>
table, th, td {
  border: 1px solid black;border-color: #96D4D4;
}
</style>
</head>
<body>
<h1>Products</h1>

<div th:if="${session.admin != null}">
    <button> <a href="/logout">Log out</a></button>
</div>
<div th:if="${session.admin == null}">
    <button> <a href="/login">Log in</a></button>
</div>

<table style="width:100%">
    <tr>
        <th colspan="10%">Name</th>
        <th> price</th>
    </tr>
    <tr>
        <td colspan="10%"><a href="/product/2" >Shoes</a></td>
        <td> 200 SEK </td>
    </tr>
    <tr>
        <td colspan="10%"><a href="Name" >Flowers</a></td>
        <td> 300 SEK </td>
    </tr>

</table>
</body>
</html>