<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Shopping Cart</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="width:600px;">
  <nav class="navbar navbar-inverse" style="background:#04B745;">
    <div class="container-fluid pull-left" style="width:300px;">
      <div class="navbar-header"> <a class="navbar-brand" href="#" style="color:#FFFFFF;">Shopping Cart</a> </div>
    </div>
    <div class="pull-right" style="margin-top:7px;margin-right:7px;"><a href="shopping-cart" class="btn btn-info">Empty cart</a></div>
  </nav>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Actions</th>
    </tr>
    </thead>


    </tr>
    <tr th:if="${session.cart != null}" th:each="product : ${session.cart}">
      <td><img src="/images.png" width="50"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.price}"></td>
      <td ><input type="text"  th:text="${product.quantity}"></td>
 <!--     <td><input type="text" name="quantity"></td> -->
      <td><a href="zzz" class="btn btn-info">Delete</a></td>
     <th:block th:with="varTotal = 0, controllerVar =${product.price}, var = ${varTotal * controllerVar}">
        <p th:text="${var}"></p>
      </th:block>
    </tr>

    <tr><td colspan="5" align="right"><h4>Total: $total</h4></td></tr>
  </table>

  <nav class="navbar navbar-inverse" style="background:#04B745;">
    <div class="container-fluid">
      <div class="navbar-header"> <a class="navbar-brand" href="#" style="color:#FFFFFF;">Products</a> </div>
    </div>
  </nav>
  <div class="row">
    <div class="container" style="width:600px;">

      <div class="col-md-4"  th:each="product : ${products}">
        <div class="thumbnail"> <img src="/images.png">
          <div class="caption">
            <p style="text-align:center" th:text="${product.name}"></p>
            <p style="text-align:center;color:#04B745;"  th:text="${product.price}+SEK"></p>
            <!--    <form method="get" th:action="@{/product/{id}(id = ${product.id})}">

         <p style="text-align:center;color:#04B745;">
                <button type="submit" >Details</button>-->
              <a th:href="@{/product/{id}(id = ${product.id})}" class="btn btn-info">Details</a>


              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>