<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Product Details</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </style>
</head>
<body>
<div class="container" style="width:600px;" >
    <nav class="navbar navbar-inverse" style="background:#04B745;">
        <div class="container-fluid">
            <div class="navbar-header"> <a class="navbar-brand" href="/Produkter" style="color:#FFFFFF;">Products</a> </div>
            <div th:if="${session.admin != null}" class="navbar-header"><a class="navbar-brand" href="/products/add" style="color:#FFFFFF;">Add</a></div>
            <div th:if="${session.admin != null}" class="navbar-header"><a class="navbar-brand" href="/logout" style="color:#FFFFFF;">Log out</a></div>
            <div th:if="${session.admin == null}" class="navbar-header"><a class="navbar-brand" href="/login" style="color:#FFFFFF;">Log in</a></div>
        </div>
    </nav>
            <form class="center" action="/product" th:object="${product}" method="POST">
                <label>Name:</label><br>
                <input class="margin" type="text" th:field="*{name}"/><br>
                <label>Quantity:</label><br>
                <input class="margin" type="text" th:field="*{quantity}"/><br>
                <label>Price:</label><br>
                <input class="margin" type="text" th:field="*{price}"/><br>
                <label>Description:</label><br>
                <textarea class="margin" th:field="*{description}"/><br>
                <input type="hidden" th:field="*{id}"/><br>
                <input class="btn btn-info" type="submit" />
                <button class="btn btn"><a href="/Produkter">Back</a></button>
            </form>

</div>
<style>
    .center {
        text-align: center;
    }
    .margin {
        margin-bottom: 12px;
    }
</style>
</body>
</html>

