<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Books</title>
    <link rel="stylesheet" href="/home.css?version=1">

</head>
<body>

<ul>
    <li><a href="/admin">Home</a></li>
    <li th:if="${session.admin != null}"><a href="/products/add">Add</a></li>
    <li th:if="${session.admin != null}"><a href="/logout">Log out</a></li>
    <li th:if="${session.admin == null}"><a href="/login">Log in</a></li>
</ul>

<h1>Book</h1>

<form action="/product" th:object="${product}" method="POST">
    Name: <input type="text" th:field="*{name}"/>
    Quantity: <input type="text" th:field="*{quantity}"/>
    Price: <input type="text" th:field="*{price}"/>
    Description: <input type="text" th:field="*{description}"/>
    <input type="hidden" th:field="*{id}"/>
    <input type="submit" value="Save product">
</form>

<button onclick="history.go(-1)" class="btn">Tillbaka</button>

</body>
</html>

